<div class="header" [class.user-mode]="loggedIn">
  <div class="left-side" *ngIf="!loggedIn">
    <i class="fa fa-facebook"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-youtube"></i>
  </div>
  <div class="logo">
    <a *ngIf="!loggedIn" routerLink="/homepage">
      <img src="../../../assets/images/logo.svg" alt="Let's travel"><b>lets.travel</b>
    </a>
    <a *ngIf="loggedIn" routerLink="/dashboard">
      <img src="../../../assets/images/logo.svg" alt="Let's travel"><b>lets.travel</b>
    </a>
  </div>
  <div class="right-side">
    <ng-content select="[menu-btn]"></ng-content>
  </div>
</div>