@import "../../../assets/base/colors";

.header {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background: white;

  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);

  &.user-mode {
    .logo {
      justify-content: flex-start;
    }
  }

  .logo {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 22px;

    img {
      margin-right: 7px;
      width: 28px;
    }

    a {
      text-decoration: none;
      height: 20px;
      align-items: center;
      display: flex;

      b {
        font-size: 16px;
      }
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    flex-basis: 100px;
    cursor: pointer;
    justify-content: flex-end;

    i {
      margin: 0 10px;
      font-size: 22px;
    }

    ::ng-deep .user-menu {
      display: flex;
      font-size: 16px;
      list-style: none;
      padding: 0;
      flex-shrink: 0;

      li {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        font-weight: 600;
        font-size: 14px;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          width: 0%;
          height: 2px;
          border-radius: 2px;
          bottom: 0;
          background-color: $blue;
          transition: width 0.3s;
        }

        &:hover,
        &.active {
          &:not(.logout) {
            &:after {
              width: 100%;
            }
          }

          &.logout {
            a {
              color: $blue;
            }
          }
        }

        &:not(:last-child) {
          margin-right: 25px;
        }

        &.logout {
          a {
            text-decoration: none;
            color: black;
            font-size: 22px;
          }
        }
      }
    }
  }

  .left-side {
    display: flex;
    align-items: center;
    flex-basis: 100px;
    cursor: pointer;

    i {
      margin: 0 10px;
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 640px) {
  .header {
    padding: 0 10px;
    height: 50px;

    .left-side {
      flex-basis: 80px;

      i {
        font-size: 18px;
        margin: 0;
        margin-right: 10px;
      }
    }
  }
}
