<app-header [loggedIn]="true">
  <ul class="user-menu" menu-btn="menu">
    <li><a>Dashboard</a></li>
    <li><a>Next trip</a></li>
    <li><a>Previous trip</a></li>
    <li class="logout">
      <a routerLink="/homepage" (click)="logout()"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
    </li>
  </ul>
</app-header>

<div class="flex-row">
  <section class="box full-section">
    <div class="header">
      <h3>Timeline</h3>
    </div>
    <div class="container">
      <div class="row-container timeline-container">
        <ng-container *ngIf="showTimeline">
          <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
            <ng-container *ngFor="let day of events; let i = index;">
              <ng-container *ngIf="day">
                <mgl-timeline-entry (expand)="onExpandEntry($event, i)" class="day-number">
                  <mgl-timeline-entry-header (click)="onHeaderClick($event)">
                  </mgl-timeline-entry-header>

                  <mgl-timeline-entry-dot class="primary" [size]="size" (click)="onDotClick($event)">
                    <p>Day {{i + 1}}</p>
                  </mgl-timeline-entry-dot>
                </mgl-timeline-entry>

                <mgl-timeline-entry (expand)="onExpandEntry($event, i)" class="none">
                  <mgl-timeline-entry-header (click)="onHeaderClick($event)">
                  </mgl-timeline-entry-header>
                  <mgl-timeline-entry-dot class="primary" [size]="size" (click)="onDotClick($event)">
                  </mgl-timeline-entry-dot>
                </mgl-timeline-entry>

                <mgl-timeline-entry *ngFor="let event of day.events; let j = index;" (expand)="onExpandEntry($event, i)"
                  toggle="false">
                  <mgl-timeline-entry-header (click)="onHeaderClick($event)">
                    <div class="header-icon">
                      <i class="material-icons">
                        {{getIcon(event.type)}}
                      </i>
                    </div>
                    <div *ngIf="event.type !== 'distance'">{{event.content}}</div>
                    <div *ngIf="event.type === 'distance'">
                      <p>Distance: <b>{{event.content}} km</b></p>
                      <p>Estimated walking time: <b>{{getEstimation(event.content, 'walk')}} minutes</b>.</p>
                      <p>Estimated driving time: <b>{{getEstimation(event.content, 'drive')}} minutes</b>.</p>
                    </div>
                  </mgl-timeline-entry-header>
                  <mgl-timeline-entry-content>
                  </mgl-timeline-entry-content>
                  <mgl-timeline-entry-dot class="primary" [size]="size" (click)="onDotClick($event)">
                  </mgl-timeline-entry-dot>
                  <!-- <mgl-timeline-entry-side>Day {{i + 1}}</mgl-timeline-entry-side> -->
                </mgl-timeline-entry>
              </ng-container>
            </ng-container>
          </mgl-timeline>
        </ng-container>
        <agm-map latitude=0 longitude=0>
          <!-- <agm-marker *ngFor="let location of locationList" [latitude]="location.lat" [longitude]="location.lng">
          </agm-marker> -->
        </agm-map>
      </div>
    </div>
  </section>
</div>