<app-header [loggedIn]="true">
  <ul class="user-menu" menu-btn="menu">
    <li routerLink="/dashboard"><a>Dashboard</a></li>
    <li routerLink="/upcoming-trips"><a>Next trip</a></li>
    <li routerLink="/previous-trips"><a>Previous trip</a></li>
    <li class="logout">
      <a routerLink="/homepage" (click)="logout()"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
    </li>
  </ul>
  <div class="mobile-menu" menu-btn="menu">
        <input type="checkbox" id="checkbox_toggle">
        <label for="checkbox_toggle" class="hamburger">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
         </label> 
        <ul class="list-menu">
            <li routerLink="/dashboard"><a>Dashboard</a></li>
            <li routerLink="/upcoming-trips"><a>Next trip</a></li>
            <li routerLink="/previous-trips"><a>Previous trip</a></li>
            <li class="logout">
              <a routerLink="/homepage" (click)="logout()"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
            </li>
      </ul>
  </div>
</app-header>

<div class="flex-row">
  <section class="box full-section">
    <div class="header">
      <h3>Timeline</h3>
    </div>
    <div class="container">
      <div class="row-container timeline-container">
        <ng-container *ngIf="showTimeline">
          <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
            <ng-container *ngFor="let day of events; let i = index;">
              <ng-container *ngIf="day">
                <mgl-timeline-entry class="day-number">
                  <mgl-timeline-entry-header>
                  </mgl-timeline-entry-header>

                  <mgl-timeline-entry-dot class="primary" [size]="size" (click)="onDotClick($event)">
                    <p>Day {{i + 1}}</p>
                  </mgl-timeline-entry-dot>
                </mgl-timeline-entry>

                <mgl-timeline-entry class="none">
                  <mgl-timeline-entry-header>
                  </mgl-timeline-entry-header>
                  <mgl-timeline-entry-dot class="primary" [size]="size" (click)="onDotClick($event)">
                  </mgl-timeline-entry-dot>
                </mgl-timeline-entry>

                <mgl-timeline-entry *ngFor="let event of day.events; let j = index;" toggle="false">
                  <mgl-timeline-entry-header>
                    <div class="header-icon">
                      <i *ngIf="event.type !== 'distance'" class="material-icons">
                        {{getIcon(event.type)}}
                      </i>
                      <i *ngIf="event.type === 'distance'" class="material-icons">
                        {{getIcon(event.content.mode)}}
                      </i>
                    </div>
                    <div *ngIf="event.type === 'food'">
                      <h4>{{event.content}}</h4>
                      <p>Address: <i>{{event.address}}</i></p>
                      <p *ngIf="event.price">Budget needed: <b>{{getPrice(event.price)}}</b></p>
                    </div>
                    <div *ngIf="event.type !== 'distance' && event.type !== 'food'">
                      <h4>{{event.content}}</h4>
                      <p *ngIf="event.address">Address: <i>{{event.address}}</i></p>
                    </div>
                    <div *ngIf="event.type === 'distance'">
                      <p>Distance: <b>{{event.content.distance}}</b></p>
                      <p>Duration: <b>{{event.content.duration}}</b></p>
                    </div>
                  </mgl-timeline-entry-header>
                  <mgl-timeline-entry-content>
                  </mgl-timeline-entry-content>
                  <mgl-timeline-entry-dot class="primary" [size]="size">
                  </mgl-timeline-entry-dot>
                </mgl-timeline-entry>
              </ng-container>
            </ng-container>
          </mgl-timeline>
        </ng-container>
      </div>
    </div>
  </section>
</div>
