<app-header></app-header>
<div class="main-container">
  <div class="box">
    <h3>Log in</h3>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <mat-form-field>
          <label>Email address</label>
          <input matInput type="email" formControlName="email" class="form-control">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <label>Password</label>
          <input matInput type="password" class="form-control" formControlName="password">
        </mat-form-field>
      </div>
      <label class="error">{{errorMessage}}</label>
      <app-button mat-button type="submit" (click)="tryLogin(loginForm.value)">Login</app-button>
    </form>

    <app-button mat-button (click)="tryGoogleLogin()">
      Login with Google
    </app-button>
  </div>
</div>