<h3>{{currentDate}}</h3>
<div class="calendar-container">
  <div class="column">
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
        [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
  </div>
  <div class="column">

    <div class="add">
      <input matInput placeholder="Event name" [(ngModel)]="nameEvent" class="custom-input">
      <input matInput type="text" mwlFlatpickr [(ngModel)]="start" [altInput]="true" [convertModelValue]="true"
        [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Choose the time"
        class="custom-input" />

      <input matInput type="text" mwlFlatpickr [(ngModel)]="end" [altInput]="true" [convertModelValue]="true"
        [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Choose the time"
        class="custom-input" />
      <app-button (click)="addEvent()" class="add-btn">Add event</app-button>
    </div>

    <ul class="action-container">
      <li *ngFor="let event of events">

        <input matInput type="text" [(ngModel)]="event.title" (keyup)="refresh.next()" />

        <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()" />

        <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()" />

        <input matInput type="text" mwlFlatpickr [(ngModel)]="event.start" (ngModelChange)="refresh.next()"
          [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
          placeholder="Not set" />

        <input matInput type="text" mwlFlatpickr [(ngModel)]="event.end" (ngModelChange)="refresh.next()"
          [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
          placeholder="Not set" />

        <app-button class="btn btn-danger" (click)="deleteEvent(event)">
          Delete
        </app-button>
      </li>
    </ul>
    <app-button (click)="save()">Save day</app-button>
  </div>
</div>