<div class="planner-container">
    <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let event of events; let i = index" cdkDrag>
            <span>{{event.content}}</span>
            <i class="material-icons delete" (click)="remove(i)">
                delete_outline
            </i>
        </div>
        <div class="add">
            <app-button (click)="openDialog()" class="add-btn">
                <i class="material-icons">add</i>
            </app-button>
            <span>Add event</span>
        </div>
    </div>
</div>
