<app-header [loggedIn]="true">
  <ul class="user-menu" menu-btn="menu">
    <li class="active"><a>Dashboard</a></li>
    <li routerLink="/upcoming-trips"><a>Next trip</a></li>
    <li routerLink="/previous-trips"><a>Previous trip</a></li>
    <li class="logout">
      <a routerLink="/homepage" (click)="logout()"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
    </li>
  </ul>
</app-header>

<div class="flex-row">
  <section class="box main-section">
    <div class="add-plan">
      <div class="header">
        <h3>Create a trip</h3>
      </div>
      <div class="container">
        <div class="img">
          <img
            src="https://images.unsplash.com/photo-1500835556837-99ac94a94552?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
            alt="">
        </div>
        <div class="form">
          <div class="bg-box">
            <form [formGroup]="formGroupTrip" (ngSubmit)="onSubmit()">
              <mat-form-field class="full-width">
                <input matInput matGoogleMapsAutocomplete placeholder="What's your destination?"
                  (onLocationSelected)="onLocationSelected($event)"
                  (onAutocompleteSelected)="onAutocompleteSelected($event)" formControlName="location">
              </mat-form-field>
              <div class="form-row">
                <mat-form-field>
                  <input matInput [matDatepicker]="startDate" placeholder="Start date" formControlName="startDate">
                  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [matDatepicker]="endDate" placeholder="End date" formControlName="endDate">
                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
              </div>
              <app-button type="secondary">Add plan</app-button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="box secondary-section">
    <div class="prev-trips">
      <div class="header">
        <h3>Next trips</h3>
      </div>
      <div class="container">
          <div *ngIf="upcomingTrips.length === 0" class="trip-list">No trip is coming</div>
        <ul *ngIf="upcomingTrips.length > 0" class="trip-list">
          <li *ngFor="let trip of upcomingTrips" class="trip">
            <div class="container">
              <span class="number"><b>{{daysTrip(trip.startDate, trip.endDate)}}</b> day trip</span>
              <span class="days">{{numberOfDaysLeft(trip.startDate)}} days left</span>
              <div class="img-container">
                <img src="{{photosPlace.get(trip.placeId)}}">
              </div>
              <app-button type="yellow" class="more" [routerLink]="['/timeline', trip.tripId]">See plan</app-button>
            </div>
            <div class="footer">
              <div class="info">
                <ul class="location">
                  <li><i class="fa fa-plane" aria-hidden="true"></i></li>
                  <li>{{trip.location}}</li>
                </ul>
                <div class="date">
                  {{trip.startDate | date :'mediumDate'}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<div class="box full-section trips">
  <div class="ideas">
    <div class="header">
      <h3>Previous trip</h3>
    </div>
    <div class="previous-trip">
      <div *ngIf="prevTrips.length === 0" class="trip-list">No trip data</div>
      <ul *ngIf="prevTrips.length > 0" class="trip-list">
        <li *ngFor="let trip of prevTrips" class="trip">
          <div class="container">
            <span class="number"><b>{{daysTrip(trip.startDate, trip.endDate)}}</b> day trip</span>
            <div class="img-container">
              <img src="{{photosPlace.get(trip.placeId)}}">
            </div>
            <app-button type="yellow" class="more" [routerLink]="['/timeline', trip.tripId]">See plan</app-button>
          </div>
          <div class="footer">
            <div class="info">
              <ul class="location">
                <li><i class="fa fa-plane" aria-hidden="true"></i></li>
                <li>{{trip.location}}</li>
              </ul>
              <div class="date">
                {{trip.startDate | date :'mediumDate'}}
              </div>
            </div>
          </div>
        </li>
        <li *ngIf="prevTrips.length > 4" class="more-trips">
          <a href=""> + {{prevTrips.length - 4}} more</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<agm-map latitude=0 longitude=0 id="map">
  </agm-map>