@import "../../assets/base/colors";

.list {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.dropdown {
  min-width: 150px;
}

.box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.add {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px 0;
  justify-content: center;

  .add-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    ::ng-deep .mat-button {
      min-width: auto;
      width: 40px;
      height: 40px;
      padding: 0;

      .material-icons {
        font-size: 26px;
      }
    }
  }

  span {
    color: $grey-2;
    font-size: 14px;
    text-align: center;
  }
}

.planner-container {
  display: flex;
}

.cdk-overlay-pane {
  width: 70% !important;
}

