<div class="planner-container">
    <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let event of events" cdkDrag>{{event}}</div>
        <div *ngIf="events.length === 0" class="empty">No events added</div>
    </div>

    <div class="add">
        <!-- <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="eventType" class="dropdown">
            <mat-option *ngFor="let type of types" [value]="type" >
                {{type}}
            </mat-option>
        </mat-select> -->
        <app-button (click)="openDialog()" class="add-btn">Add event</app-button>

    </div>
</div>