<div class="planner-container">
    <div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
        <div class="box" *ngFor="let event of events" cdkDrag>{{event.content}}</div>
        <!-- <div *ngIf="events.length === 0" class="empty">No events added</div> -->
        <div class="add">
            <app-button (click)="openDialog()" class="add-btn">
                <i class="material-icons">add</i>
            </app-button>
            <span>Add event</span>
        </div>
    </div>
</div>