@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/flatpickr/dist/flatpickr.css";

@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "./assets/base/normalizer";

body {
  font-size: 16px;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  color: black;
}
