@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "./assets/base/normalizer";

body {
  font-size: 14px;
  background-color: #fbfbfb;
}

body,
html {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
