@import '../../../assets/base/colors';
@import '../../../assets/base/mixins';

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: $blue !important;
}

::ng-deep .mat-tab-body-content {
  display: flex;
  padding: 15px;
}

.search {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 50px;
  margin-top: 25px;

  .search-img-container{
    height: 200px;
    max-width: 250px;
    overflow: hidden;

    img{
      width: 100%;
    }
  }
}

.result-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.explore {
    min-width: 350px;
    max-width: 350px;

  h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 20px;
      margin-right: 10px;
    }

    .material-icons {
      padding-right: 5px;
    }
  }
}

.places-list {
  display: flex;
  @include scrollbar($grey-2);
  height: 100%;
  overflow: auto;
  flex-direction: column;
  max-height: 445px;
  padding: 5px;

  .place {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.25);

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .see-more {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
    }

    .img-container {
      width: 100%;
      overflow: hidden;
      position: relative;
      height: 220px;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
    }

    .select {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // background: $grey-1;
      height: 60px;
      padding-left: 15px;

      ::ng-deep
        .mat-radio-button.mat-accent.mat-radio-checked
        .mat-radio-outer-circle {
        border-color: $yellow !important;
      }

      ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: $yellow !important;
      }

      ::ng-deep
        .mat-radio-button.mat-accent.mat-radio-checked
        .mat-radio-persistent-ripple {
        background-color: $yellow !important;
      }

      ::ng-deep .mat-radio-button {
        .mat-radio-label-content {
          font-family: 'Poppins';
          font-size: 14px;
          line-height: 18px;
          color: $black;
          display: flex;
          max-width: 250px;
          overflow: hidden;
        }
      }
    }
  }
}

.column-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .fligh-banner {
    max-height: 200px;
    overflow: hidden;
    margin-top: 20px;

    img {
      width: 100%;
    }
  }

  .search-img {
    display: none;


    img {
      max-width: 110px;
      width: 100%;
    }
  }

  .other-banner, .hotel-banner {
    overflow: hidden;
    margin-top: 40px;
    height: 250px;
    max-width: 150px;

    img {
      width: 100%;
    }
  }

  .hotel-banner {
    height: 320px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin-top: 50px;
  }
}

.row-layout {
  display: flex;
  margin: 0 15px;
  width: 100%;
}

::ng-deep .mat-dialog-container {
  padding: 15px;

  .mat-tab-label {
    min-width: 130px;
  }

  .modal-content,
  .mat-tab-group,
  .mat-tab-body-wrapper {
    height: 100%;
  }
}

.show-more {
  display: none;

  &.display {
    display: flex;
  }
}

.category {
  background: yellow;
  border-radius: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  left: 15px;
  top: 15px;
  position: absolute;
  height: 35px;
  transition: all 250ms cubic-bezier(0, 0, 0.2, 1);

  &:hover {
    .text {
      display: inline;
    }
  }

  .text {
    display: none;
    padding-right: 5px;
  }

  img {
    width: 25px;
    height: 25px;
    filter: invert(100%);
  }
}

// .modal-btn {
//   margin-top: 10px;
// }


@media screen and (max-width: 700px) {

  ::ng-deep .cdk-overlay-pane {
    max-width: 90vw !important;
  }
  

  ::ng-deep .mat-dialog-container {
    padding: 0;

    .mat-tab-body-wrapper {
      padding: 15px;

      .column-layout {
        .row-layout {
          flex-direction: column;

          .search {
            margin: 0;
          }

          .explore {
            min-width: auto; 
            
            .places-list {
              height: 240px;
              flex-direction: row;

              .mat-radio-group {
                display: flex;

                .place {
                  min-width: 200px;
                  margin-right: 20px;

                  &:not(:last-child) {
                    margin-bottom: 0;
                  }

                  .img-container {
                    height: 150px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}