<div class="modal-content">
  <mat-tab-group [selectedIndex]="selected" (selectedIndexChange)="tabChanged($event)">
    <mat-tab label="Flight">
      <div class="column-layout">
        <form [formGroup]="flightData" class="form">
          <mat-form-field>
            <input matInput placeholder="To" formControlName="destination">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="start date" formControlName="startDate">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="end date" formControlName="endDate">
          </mat-form-field>
        </form>
        <app-button (click)="submit()">Submit</app-button>
      </div>
    </mat-tab>
    <mat-tab label="Food">
      <div class="column-layout">
        <div class="row-layout">
          <div class="search">
            <mat-form-field>
              <input matInput placeholder="Search" [(ngModel)]="searchString">
            </mat-form-field>
            <app-button (click)="search(searchString)" type="secondary">Search</app-button>
            <p>{{searchResult | json}}</p>
          </div>

          <div class="explore">
            <h3> <i class="material-icons">explore</i> Explore</h3>
            <ul *ngIf="places.length > 0" class="places-list">
              <li *ngFor="let place of places; let i = index" class="place">
                <h4>{{place}}</h4>
                <div class="img-container">
                  <img src="{{photosPlace[i]}}">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <app-button (click)="submitFood()">Submit</app-button>
      </div>
    </mat-tab>
    <mat-tab label="Outdoor"> Outdoor </mat-tab>
  </mat-tab-group>
</div>