<div class="modal-content">
  <mat-tab-group [selectedIndex]="selected" (selectedIndexChange)="tabChanged($event)">
    <mat-tab label="Flight">
      <div class="column-layout">
        <div class="fligh-banner">
          <img src="https://image.flaticon.com/icons/svg/129/129500.svg" alt="">
        </div>
        <form [formGroup]="flightData" class="form">
          <mat-form-field>
            <input matInput placeholder="To" formControlName="destination">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="start date" formControlName="startDate">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="end date" formControlName="endDate">
          </mat-form-field>
        </form>
        <app-button (click)="submit()">Submit</app-button>
      </div>
    </mat-tab>
    <mat-tab label="Food">
      <div class="column-layout">
        <div class="row-layout">
          <div class="search">
            <mat-form-field>
              <input matInput placeholder="Search" [(ngModel)]="searchString">
            </mat-form-field>
            <app-button (click)="search(searchString, 'food')" type="secondary">Search</app-button>

            <div class="selected">
              <p>Place to eat selected: <b>{{foodPlace}}</b></p>
            </div>
          </div>

          <div class="explore">
            <h3> <i class="material-icons">explore</i> Explore</h3>
            <ul *ngIf="foodPlaces.length > 0" class="places-list">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="foodPlace">
                <li *ngFor="let place of foodPlaces; let i = index" class="place">
                  <div class="img-container">
                    <img src="{{foodPhotosPlace[i]}}">
                  </div>
                  <div class="category">
                    <img src="{{place.categories[0].icon.prefix}}90{{place.categories[0].icon.suffix}}" alt="">
                    <p class="text">{{place.categories[0].name}}</p>
                  </div>
                  <div class="select">
                    <mat-radio-button [value]="place.name">{{place.name}}</mat-radio-button>
                  </div>
                </li>
              </mat-radio-group>
            </ul>
          </div>
        </div>
        <app-button (click)="submitFood()">Submit</app-button>
      </div>
    </mat-tab>
    <mat-tab label="Outdoors">
      <div class="column-layout">
        <div class="row-layout">
          <div class="search">
            <mat-form-field>
              <input matInput placeholder="Search" [(ngModel)]="searchString">
            </mat-form-field>
            <app-button (click)="search(searchString, 'outdoor')" type="secondary">Search</app-button>

            <div class="selected">
              <p>Outdoor selected: <b>{{outdoorPlace}}</b></p>
            </div>
          </div>

          <div class="explore">
            <h3> <i class="material-icons">explore</i> Explore</h3>
            <ul *ngIf="outdoorPlaces.length > 0" class="places-list">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="outdoorPlace">
                <li *ngFor="let place of outdoorPlaces; let i = index" class="place">
                  <div class="img-container">
                    <img src="{{outdoorPhotosPlace[i]}}">
                  </div>
                  <div class="category">
                    <img src="{{place.categories[0].icon.prefix}}90{{place.categories[0].icon.suffix}}" alt="">
                    <p class="text">{{place.categories[0].name}}</p>
                  </div>
                  <div class="select">
                    <mat-radio-button [value]="place.name">{{place.name}}</mat-radio-button>
                  </div>
                </li>
              </mat-radio-group>
            </ul>
          </div>
        </div>
        <app-button (click)="submitOutdoor()" class="modal-btn">Submit</app-button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>