@import '../../../assets/base/colors';
@import '../../../assets/base/mixins';

::ng-deep .mat-dialog-container {
  .mat-tab-body-wrapper {
    max-height: 500px;

   @include scrollbar($grey-2);
  }
}

::ng-deep .mat-tab-labels {
  justify-content: center;

  .mat-tab-label {
    min-width: 100px;
    border: 1px solid $grey-1;
    border-radius: 5px;
    margin: 0 10px;
    height: auto;
    padding: 10px 25px;
    opacity: 1;

    &.mat-tab-label-active {
      background-color: $yellow;
      color: white;
      opacity: 1;
    }
  }
}

::ng-deep .mat-ink-bar {
  display: none !important;
}
