@import "../../assets/base/base";

:host() {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h3 {
  i {
    padding: 0 5px;
  }
}

.container {
  padding: 25px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  justify-content: flex-start;

  .mat-stepper-horizontal-line {
    max-width: 200px;

    .mat-step-header {
      &:hover {
        background: transparent;

        .mat-step-label {
          color: blue;
        }
      }
    }

    .mat-step-header-ripple {
      display: none;
    }
  }
}
