<app-header [loggedIn]="true">
  <ul class="user-menu" menu-btn="menu">
    <li><a routerLink="/dashboard">Home</a></li>
    <li><a>Next trip</a></li>
    <li><a>Previous trip</a></li>
    <li><a>My profile</a></li>
    <li class="logout">
      <a routerLink="/homepage" (click)="logout()"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
    </li>
  </ul>
</app-header>

<div class="flex-row">
  <section class="box full-section">
    <div class="header">
      <h3>Hi! Let's plan your next trip to <span *ngIf="data">{{data.location}}</span> <i class="fa fa-plane"
          aria-hidden="true"></i> {{days}} days</h3>
    </div>
    <div class="container">

      <mat-horizontal-stepper #stepper>
        <mat-step *ngFor="let tab of tabs">
            <ng-template matStepLabel>{{tab}}</ng-template>
            <app-planner [location]="data.location"></app-planner>
        </mat-step>
      </mat-horizontal-stepper>

      <app-button>Save plan</app-button>
    </div>
  </section>

</div>